body {
    background-color: grey;
}

.gameplay {
    width: 12em;
    height: 10em;
    display: flex;
    flex-wrap: wrap;
}

.squere {
    width: 1em;
    height: 1em;
    border: 1px solid black;
}

.shipOn {
    background-color: green;
}

.shipsBox {
    margin: 5em;
    width: 10em;
    height: 10em;
    background-color: blueviolet;
}

.orientationSwitchV {
    width: 2em;
    height: 2em;
    background-color: yellow;
    margin-left: 0;
    margin-right: 10em;
}

.orientationSwitchH {
    width: 2em;
    height: 2em;
    background-color: yellow;
    margin-left: 100%;
    margin-right: 0%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}